.p-guide {
    &__section {
        margin-bottom: 64px;
    }
    &__title {
        padding: 8px 16px;
        background-color: #f7f7f7;
    }
    &__caption {
        padding-left: 1rem;
        margin-top: 16px;
    }
}